@page "/fetchbooks"
@using BlazorApp1.Models
@using System.Net.Http.Json
@using BlazorApp1.Controllers
@inject HttpClient Http

<PageTitle>User Profile</PageTitle>

<h1>Chantal Maskell</h1>

<p>USER'S FAVOURITE BOOKS</p>

<p>USER'S BOOKSHELVES</p>

<p>YOU ARE CURRENTLY READING</p>

@if (Books == null)
{
    <p>Loading your books...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th hidden>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Number of pages</th>
                <th>Page number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
            {
                <tr>
                    <td><img src="@book.book_image" alt="Book Cover" width="100" height="150" /></td>
                    <td><h4><b>@book.book_title</b></h4></td>
                    <td>@book.author</td>
                    <td>@book.book_genre</td>
                    <td>@book.page_count</td>
                    <td>@book.page_number</td>
                    <td><button class="btn btn-secondary">Update progress</button></td>
                    <td><button class="btn btn-primary" @onclick="() => RemoveBook(book.book_id)">Remove book</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Book> Books;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Books = await Http.GetFromJsonAsync<IEnumerable<Book>>("https://localhost:7097/books");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    public class Book
    {
        public int book_id { get; set; }
        public string book_title { get; set; }
        public string book_genre { get; set; }
        public string author { get; set; }
        public int page_count { get; set; }
        public string book_image { get; set; }
        public int page_number { get; set; }
    }

    public class Users
    {
        public string first_name { get; set; }
    }

    public async Task RemoveBook(int book_id)
    {
        Console.WriteLine("Removing book with ID: " + book_id);
        var response = await Http.DeleteAsync($"https://localhost:7097/remove-book?book_id={book_id}");
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Book removed successfully.");
            await OnInitializedAsync();
        }
        else
        {
            Console.WriteLine("Failed to remove book. Please try again later.");
        }
    }

    public async Task UpdateProgress(int book_id)
    {
        Console.WriteLine("Updating page number with ID: " + book_id);
        var response = await Http.DeleteAsync($"https://localhost:7097/update-status?book_id={book_id}");
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Page updated successfully.");
            await OnInitializedAsync();
        }
        else
        {
            Console.WriteLine("Failed to update page number. Please try again later.");
        }
    }
}